.main {
  flex: 1 0 auto;
}

.topics {
    padding: 50px 5px 0 5px;
    min-height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.topics__title {
    font-size: 44px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.topics__popular {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 70px 0;
}
