.item {
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 1px 14px rgba(0,0,0,0.25);
}

.item__imgContainer {
    margin: 0 0 70px 0;
}

.item__img {
    width: 200px;
    height: 250px;
}

.item__name {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}