.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sign-up form */

.sign-up {
  padding: 70px 0 30px 0;
  text-align: center;
  background-color: #fff;
  width: 390px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sign-up__form {
  width: 70%;
  margin: 0 auto 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 50px 0;
}

.form__input {
  margin: 0 0 40px 0;
}

.form__input input[type="email"],
.form__input input[type="password"],
.form__input input[type="text"],
.form__input input[type="number"] {
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  border-bottom: 2px solid #adadad;
  width: 100%;
  padding: 10px 5px;
  transition: 0.7s;
}

.form__input input[type="email"]:focus,
.form__input input[type="password"]:focus,
.form__input input[type="text"]:focus,
.form__input input[type="number"]:focus {
  border-bottom: 2px solid #98e38d;
}

.form__input button {
  width: 100%;
  padding: 10px 5px;
  color: #fff;
  border-radius: 5px;
  background-color: #98e38d;
  transition: 0.7s;
}

.form__input button:hover {
  background-color: #bcedb4;
}

.sign-up__hint {
  color: #555;
}

.sign-up__hint a {
  color: inherit;
  transition: 0.7s;
}

.sign-up__hint a:hover {
  color: #b1dcfc;
}
